<%= form_for(@cake, html: { multipart: true, class: 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :photo, :class => "control-label" %>
      <div class="controls">
        <%= f.file_field :photo, :class => "input-xxlarge" %>
        <%= f.hidden_field :photo_cache %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :category_id, :class => "control-label" %>
      <div class="controls">
        <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name) %>
      </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="<%= url_for @cake %>" class="btn">Cancel</a>
  </div>
<% end %>
